interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/TSLAXX?range=1y&interval=1d&includePrePost=False&events=div%2Csplits
  response:
    body:
      string: '{"chart":{"result":null,"error":{"code":"Not Found","description":"No
        data found, symbol may be delisted"}}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      x-yahoo-request-id:
      - b4o1ii9gpo22h
      y-rid:
      - b4o1ii9gpo22h
    status:
      code: 404
      message: Not Found
version: 1
