interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.groupme.com/v3/groups?token=DUMMY
  response:
    body:
      string: "{\"meta\":{\"code\":200},\"response\":[{\"id\":\"69502628\",\"group_id\":\"69502628\",\"name\":\"BotTestGroup\",\"phone_number\":\"+1
        7693076349\",\"type\":\"private\",\"description\":\"\",\"image_url\":null,\"creator_user_id\":\"68449690\",\"created_at\":1627781795,\"updated_at\":1658617949,\"muted_until\":null,\"office_mode\":false,\"messages\":{\"count\":1096,\"last_message_id\":\"165861794931486032\",\"last_message_created_at\":1658617949,\"preview\":{\"nickname\":\"SportsBot\",\"text\":\"https://dbukjj6eu5tsf.cloudfront.net/gopsusports.com/images/2018/5/2/10251682.jpeg\",\"image_url\":\"https://i.groupme.com/245x245.jpeg.026c096cdd46475fb5d931006cb95a42\",\"attachments\":[{\"type\":\"postprocessing\",\"queues\":[\"linked_image\"]}]}},\"max_members\":5000,\"theme_name\":null,\"like_icon\":null,\"requires_approval\":false,\"show_join_question\":false,\"join_question\":null,\"message_deletion_period\":60,\"message_deletion_mode\":[\"sender\",\"creator\"],\"share_url\":\"https://groupme.com/join_group/69502628/qQvLfkEW\",\"share_qr_code_url\":\"https://image.groupme.com/qr/join_group/69502628/qQvLfkEW/preview\",\"directories\":null,\"members\":[{\"user_id\":\"29762584\",\"nickname\":\"Colin
        Delahunty\",\"image_url\":\"https://i.groupme.com/1024x1024.jpeg.c64d4fc5aeca45cb9fd2c1ca054fc22d\",\"id\":\"666146052\",\"muted\":false,\"autokicked\":false,\"roles\":[\"user\"],\"name\":\"Colin
        Delahunty\"},{\"user_id\":\"47806280\",\"nickname\":\"Evan Parshall\",\"image_url\":\"https://i.groupme.com/750x750.jpeg.f49b4c25a9b14e94907bfc3c46fea801\",\"id\":\"666146069\",\"muted\":false,\"autokicked\":false,\"roles\":[\"user\"],\"name\":\"Evan
        Parshall\"},{\"user_id\":\"68449690\",\"nickname\":\"zach delahunty\",\"image_url\":\"\",\"id\":\"666177541\",\"muted\":false,\"autokicked\":false,\"roles\":[\"admin\",\"owner\"],\"name\":\"zach
        delahunty\"}],\"locations\":null,\"visibility\":null},{\"id\":\"46166401\",\"group_id\":\"46166401\",\"name\":\"Fantasy
        With President Brad Stevens\",\"phone_number\":\"+1 2489623462\",\"type\":\"private\",\"description\":\"Rhode
        Island is NOT an island.\",\"image_url\":\"https://i.groupme.com/828x828.jpeg.313065015e0e4554b53ce3294d23df6a\",\"creator_user_id\":\"27910967\",\"created_at\":1542778012,\"updated_at\":1658583266,\"muted_until\":null,\"office_mode\":false,\"messages\":{\"count\":22390,\"last_message_id\":\"165858326644660112\",\"last_message_created_at\":1658583266,\"preview\":{\"nickname\":\"SportsBot\",\"text\":\"Nick
        Leahy\\nA future doctor soon to be residing in Columbus, Ohio\\n\\nStrengths:\\nPiano\\nBeer
        miles\\nThe Griddy\\n\\nWeaknesses:\\nKnees\\nExamination volunteers\\nJoints\\n\",\"image_url\":\"https://i.groupme.com/245x245.jpeg.c578e771710a4819b5f17d324766f8d9\",\"attachments\":[{\"type\":\"image\",\"url\":\"https://i.groupme.com/3537x3140.jpeg.3fdb4b141be3497f9ca5291e32d7f830\"}]}},\"max_members\":5000,\"theme_name\":\"planes\",\"like_icon\":{\"type\":\"emoji\",\"pack_id\":1,\"pack_index\":51},\"requires_approval\":false,\"show_join_question\":false,\"join_question\":null,\"message_deletion_period\":60,\"message_deletion_mode\":[\"sender\",\"creator\"],\"share_url\":\"https://groupme.com/join_group/46166401/waQEcEWP\",\"share_qr_code_url\":\"https://image.groupme.com/qr/join_group/46166401/waQEcEWP/preview?avatarUrl=https%3A%2F%2Fi.groupme.com%2F828x828.jpeg.313065015e0e4554b53ce3294d23df6a\",\"directories\":null,\"members\":[{\"user_id\":\"27910967\",\"nickname\":\"French
       [...]
